@keyframes background-theme {
    0% {
        background: #f8717f;
    }

    20% {
        background: #fabf71;
    }

    40% {
        background: #f8f873;
    }

    60% {
        background: #7fc28b;
    }

    80% {
        background: #7676f3;
    }

    100% {
        background: #8b4987;
    }
}

.page {
    min-width: 320px;
    max-width: 768px;
    margin: auto;
    height: 100vh;
    animation: background-theme 20s infinite alternate;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

