.sergio__common_random_1 {
    background: url(../../../images/sergio-1.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_2 {
    background: url(../../../images/sergio-2.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_3 {
    background: url(../../../images/sergio-3.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_4 {
    background: url(../../../images/sergio-4.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_5 {
    background: url(../../../images/sergio-5.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_6 {
    background: url(../../../images/sergio-6.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_7 {
    background: url(../../../images/sergio-7.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_8 {
    background: url(../../../images/sergio-8.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_9 {
    background: url(../../../images/sergio-9.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_10 {
    background: url(../../../images/sergio-10.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_11 {
    background: url(../../../images/sergio-11.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_12 {
    background: url(../../../images/sergio-12.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_13 {
    background: url(../../../images/sergio-13.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_14 {
    background: url(../../../images/sergio-14.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_15 {
    background: url(../../../images/sergio-15.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_16 {
    background: url(../../../images/sergio-16.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_17 {
    background: url(../../../images/sergio-17.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_18 {
    background: url(../../../images/sergio-18.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_19 {
    background: url(../../../images/sergio-19.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_20 {
    background: url(../../../images/sergio-20.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_21 {
    background: url(../../../images/sergio-21.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_22 {
    background: url(../../../images/sergio-22.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_23 {
    background: url(../../../images/sergio-23.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_24 {
    background: url(../../../images/sergio-24.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_25 {
    background: url(../../../images/sergio-25.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_26 {
    background: url(../../../images/sergio-26.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_27 {
    background: url(../../../images/sergio-27.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_28 {
    background: url(../../../images/sergio-28.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_29 {
    background: url(../../../images/sergio-29.png);
    background-position: center;
    background-size: cover;
}


.sergio__common_random_30 {
    background: url(../../../images/sergio-30.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_31 {
    background: url(../../../images/sergio-31.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_32 {
    background: url(../../../images/sergio-32.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_33 {
    background: url(../../../images/sergio-33.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_34 {
    background: url(../../../images/sergio-34.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_35 {
    background: url(../../../images/sergio-35.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_36 {
    background: url(../../../images/sergio-36.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_37 {
    background: url(../../../images/sergio-37.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_38 {
    background: url(../../../images/sergio-38.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_39 {
    background: url(../../../images/sergio-39.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_40 {
    background: url(../../../images/sergio-40.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_41 {
    background: url(../../../images/sergio-41.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_42 {
    background: url(../../../images/sergio-42.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_43 {
    background: url(../../../images/sergio-43.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_44 {
    background: url(../../../images/sergio-44.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_45 {
    background: url(../../../images/sergio-45.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_46 {
    background: url(../../../images/sergio-46.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_47 {
    background: url(../../../images/sergio-47.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_48 {
    background: url(../../../images/sergio-48.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_49 {
    background: url(../../../images/sergio-49.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_50 {
    background: url(../../../images/sergio-50.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_51 {
    background: url(../../../images/sergio-51.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_52 {
    background: url(../../../images/sergio-52.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_53 {
    background: url(../../../images/sergio-53.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_54 {
    background: url(../../../images/sergio-54.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_55 {
    background: url(../../../images/sergio-55.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_56 {
    background: url(../../../images/sergio-56.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_57 {
    background: url(../../../images/sergio-57.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_58 {
    background: url(../../../images/sergio-58.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_59 {
    background: url(../../../images/sergio-59.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_60 {
    background: url(../../../images/sergio-60.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_61 {
    background: url(../../../images/sergio-61.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_62 {
    background: url(../../../images/sergio-62.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_63 {
    background: url(../../../images/sergio-63.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_64 {
    background: url(../../../images/sergio-64.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_65 {
    background: url(../../../images/sergio-65.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_66 {
    background: url(../../../images/sergio-66.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_67 {
    background: url(../../../images/sergio-67.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_68 {
    background: url(../../../images/sergio-68.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_69 {
    background: url(../../../images/sergio-69.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_70 {
    background: url(../../../images/sergio-70.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_71 {
    background: url(../../../images/sergio-71.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_72 {
    background: url(../../../images/sergio-72.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_73 {
    background: url(../../../images/sergio-73.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_74 {
    background: url(../../../images/sergio-74.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_75 {
    background: url(../../../images/sergio-75.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_76 {
    background: url(../../../images/sergio-76.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_77 {
    background: url(../../../images/sergio-77.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_78 {
    background: url(../../../images/sergio-78.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_79 {
    background: url(../../../images/sergio-79.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_80 {
    background: url(../../../images/sergio-80.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_81 {
    background: url(../../../images/sergio-81.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_82 {
    background: url(../../../images/sergio-82.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_83 {
    background: url(../../../images/sergio-83.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_84 {
    background: url(../../../images/sergio-84.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_85 {
    background: url(../../../images/sergio-85.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_86 {
    background: url(../../../images/sergio-86.jpg);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_87 {
    background: url(../../../images/sergio-87.png);
    background-position: center;
    background-size: cover;
}