.sergio__common_random_1 {
    background: url(../../../images/sergio-1.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_2 {
    background: url(../../../images/sergio-2.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_3 {
    background: url(../../../images/sergio-3.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_4 {
    background: url(../../../images/sergio-4.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_5 {
    background: url(../../../images/sergio-5.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_6 {
    background: url(../../../images/sergio-6.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_7 {
    background: url(../../../images/sergio-7.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_8 {
    background: url(../../../images/sergio-8.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_9 {
    background: url(../../../images/sergio-9.png);
    background-position: center;
    background-size: cover;
}

.sergio__common_random_10 {
    background: url(../../../images/sergio-10.png);
    background-position: center;
    background-size: cover;
}