.controls__button {
    width: 100%;
    height: 50px;
    padding: 0px;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    background: #000000;
    color: white;
    mix-blend-mode: multiply;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: .3s;
}

.controls__button:hover {
    opacity: .8;
}
